* {
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
   font-family: sans-serif;
}
body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}
form{
    width: 600;
    background-color: #ddd;
    padding: 80px;
    border-radius:10px ;
}

form input {
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
}
form h2 {
    text-align: center;
    margin-bottom: 10px;
}
form textarea{
    min-width: 100%;
    max-width: 100% ;
    min-height: 100px;
    max-height: 100px;
    padding:10px ;
    outline: none;

}
Form select{
    width: 100%;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;

}
form button{
    width: 100%;
    margin-top:10px ;
    padding: 10px;
    background-color:#15c24c;
    border: none;
    font-size: 20px;
    border-radius: 7px;
}